@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root{
    --cor-do-fundo: #000000;
    --cor-da-fonte: #f6f6f6;
    --cor-secundaria: rgb(67, 235, 45);
    --cor-hover: rgb(16, 114, 4);

    --fonte-principal: 'Source Sans Pro', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
     /* height: 100vh; */
     box-sizing: border-box;
     background-color: var(--cor-do-fundo);
     color: var(--cor-da-fonte);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.titulo-destaque {
    color: var(--cor-secundaria) ;
    font-size: 2.18rem;
    font-family: var(--fonte-principal);
}

.apresentacao {
    padding: 5% 15%;
    gap: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo { 
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-principal);
    font-size: 2.25rem;
}

.apresentacao__conteudo__texto { 
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo { 
    font-family:  var(--fonte-principal);
    font-size: 1.25rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.25rem;
    font-family: var(--fonte-principal);
    padding: 15px 1px;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid var(--cor-secundaria);
}

.apresentacao__links__link:hover {
    padding: 3%;
    background-color: var(--cor-hover);
    color: black;
}

.logotipo__vogal {
    width: 50%;
}

.rodape {
    padding: 25px;
    color: #000000;
    background-color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 1.25rem;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    
    .apresentacao__conteudo {
        width: auto;

    }
    
}